*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.begin{
    margin-top: 63px;
    margin-bottom: 49px;
}
.logo{
    text-align: left;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-bottom: 38px;
}
.logo span{
color: #4BCAFF;
}
.menu{
    display: flex;
    justify-content: center;
    background: #35444F
    
}
.menu-item {
  padding: 20px 40px;  
  border: 1px solid white;
}
.menu-item a{
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.menu-item a:hover {
    color: red;
} 
.block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.menu-sides{ 
    border: 1px solid black;
    width: 350px;
}
.menu-sides-item{
    white-space: nowrap;
    padding: 30px 0 52px 44px ;
    transition: 0.5s

}
.menu-sides-item:hover {
    background-color: #DBDBDB;
    padding-left: 64px;
}
 .menu-sides-item:hover a { 
    color: #35444F; 
    font-size: 35px;
    transition: 0.5s; 
}


.menu-sides-item:last-child {
    padding-bottom: 30px;
}

.menu-sides-item a{
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}
.wrapper{
    margin-left: 52px;

}
.wrapper-img{
    text-align: center;
    border: 1px solid black;
    padding: 75px 268px 73px 297px;
    margin-bottom: 37px;
}
.wrapper-text{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-bottom: 34px;
}
.footer{
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
    
}
.menu-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.footer-item-container{
    display: flex;

}
.menu-footer-item a{
    font-size: 28px;
    line-height: 28px;
    padding-right: 20px;
    color: #0C1927;
}


.menu-footer-item a:hover{
    color: #3181A6;
    text-decoration: underline;
}
.menu-footer-text{
    font-size: 24px;
    line-height: 24px;
    color: #01010;
}
