
@mixin flexCenter(){
  display: flex;
  justify-content: center;
  text-align: center;
  
}
@mixin title{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@mixin postsFirstTitile{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
@mixin postsSecondTitile{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #7C7C7C;
}
