*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container {
    width: 1023px;
    margin: 0 auto;
}
.back{
    width: 1366px;
    margin: 0 auto;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 768px;
}
.milan{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
.logo{
    display: flex;
    margin-top: 51px;
}
.title{
    margin-left: 8px;
}
.title-milan{
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;
    position: relative;
    bottom: 3px; ;
}
.title-holiday{
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    position: relative;
    top: 3px;
}
.logo:hover .logo-img{
    content: url(./logo\ 2.png);
}
.logo:hover .title-milan{
    color:#F26522;
}
.logo:hover .title-holiday{
    color:#F26522; 
}
.info{
    margin-top: 46px;
   
}
.info-block{
    text-align:right;
    padding-top: 25px;
}
.info-block:first-child{
    padding-top: 0;
}
.info-email-link{
    font-size: 18px;
    color: #FFFFFF;
}
.info-number-link{
    text-align: right;
    font-size: 18px;
    color: #FFFFFF;
}
.info-email-link:hover{
    color: #F26522 ;
}
.info-number-link:hover{
    color:#F26522;
}
.tours{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 12px;
}
.content-item{
    overflow: hidden;
    position: relative;
    padding-bottom: 37px;
}
.content-item-image{
    position: relative;
}
.content-item-text{
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    color: #FFFFFF;
}
.content-hover{
    width: 100%;
    height: 55px;
    background: #F26522;
    position: absolute;
    bottom: -155px;
    left: 0;
    transition: 0.8s;
    opacity: 0;
}
.content-hover-text{
    padding-left: 16px;
    padding-top: 7px;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding-bottom: 8px;
}
.content-hover-block{
    display: flex;
    justify-content: space-between;
}
.content-hover-money{
    padding-left: 16px;
    font-size: 20px;
    color: #FFFFFF;
}
.content-hover-link{
    padding-right: 37px;
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
}
.content-hover-link::before{
    content: '';
	width: 5px;
	height: 5px;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	transform: rotate(45deg);
	position: absolute;
	right: 16px;
    top: calc((100% - 11px) / 2);
   

}
.content-item:hover .content-hover{
    opacity: 1;
    bottom: 0;
    
}
.content-item:hover .content-item-text {
    color: #F26522 ;
}
.footer{
    margin-bottom: 15px;
}
.footer-text{
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
}
