
.back{
    font-family: 'Ubuntu', sans-serif;
    background:url(./Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%, cover;
    height: 770px;
    
}
.journey{
    display: flex;
    justify-content: space-between;
    height: 58px;
    padding: 0 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.title{
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition:0.5s;
}
.title:hover{
    color: #236c47;
}
.svg-login{
    display: flex;
    
}
.journey-svg{
    padding-top: 18px;
    padding-right: 54px;
    
}
.svg-img{
    padding-left: 24px;
    
}


.svg-path{
    transition:0.5s;
}
.svg-img:hover .svg-path{
fill:#236c47 ;

}
.journey-text{
    padding-top: 10px;
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
    
}
.text-color{
    transition:0.5s;
}
.text-color:hover{
    color: #236c47;
}
.journey-text::before{
    content: "";
    width: 1px;
    height: 19px;
    position: absolute;
    left: -27px;
    top: 6.5px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;

}
.container{
    height: calc(100% - 58px);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 324px;
    margin: 0 auto;
}
.form{
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.sign{
    padding-top: 14.4px;
    font-size: 20px;
    color: #434343;
}
.sign::before{
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: 0px;
}
.log{
    padding-top: 33px;
    font-size: 14px;
    color: #3CB878;
}
.log:hover{
    color: #01813F;
    text-decoration: underline;
}
.icon{
    display: flex;
    justify-content: space-between;
}
.link{
    display: flex;
    position: relative;
    padding: 17px 22px 17px;
    border-radius: 4px;

}
.facebook{
    background: #305DB8;
    transition:0.5s;
    margin-right: 5px;
}
.facebook:hover{
    background: #022263;

}
.facebook-img{
    position: absolute;
    left: 0;
    top: calc((50% - 12px)/2);
}
.facebook-text{
    position: relative;
    padding-left: 50px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;

}
.facebook-text::before{
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    left: 36px;
    top: calc(( 50% - 16px) /2 );
}
.google{
    background: #DF4A32;
    transition:0.5s;
}
.google:hover{
    background: #AB1F09;
}
.google-text{
    position: relative;
    padding-left: 63px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;

}
.google-text::before{
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    left: 48px;
    top: calc(( 50% - 16px) /2 );
}
.google-img{
    position: absolute;
    left: 4px;
    top: calc((50% - 12px)/2);
}


.form-or{
    margin-top: 31px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #848484;
    text-align: center;
    position: relative;
}
.form-or::after{
    content: "";
    width: 152px;
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    position: absolute;
    top: 50%;
    right: 0;
   

}
.form-or::before{
    content: "";
    width: 152px;
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    position: absolute;
    top: 50%;
    left: 0;
    

}
.form-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.form-form-input{
    padding: 13px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;
}
.form-form-input::placeholder{
    font-size: 14px;
    color: #BEBEBE;
    
}
.form-form-input:focus{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form-form-check{
    margin-top: -3px;
    font-size: 14px;
    color: #434343;  
}
.form-check-color{
    color: #3CB878;

}
.form-check-color:hover{
    color: #01813F;
    text-decoration: underline;
}
.form-form-sumbit{
    margin-top: 8px;
    font-size: 16px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    padding-block: 16px;
    transition:0.5s;
}
.form-form-sumbit:hover{
    background: #01813F;
}
