*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.menu{
   display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
}
.menu-logo{
    padding-left: 27px;
    display: flex;
    align-items: center;

}
.menu-logo-text{
    padding-left: 27px;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;

}
.menu-nav{
    display: flex;

}
.menu-list a{
    padding-right: 35px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.menu-list a:hover{
    color: #14B9D5;
}
.menu-search{
    background-color: #000000;
    padding: 27px;
}
.architecture{
    background-image: url(./header-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}
.architecture-title{
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 44px;
}
.info{
    display: flex;
    justify-content: center;
    

}
.info-text-now{
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #89CA62;
    padding: 16px 19px;
    border-radius: 4px;
    margin-right: 20px;
    border: none;!!!!!
    outline: unset;
}
.info-text-best{
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #14B9D5;    
    padding: 16px 30px;
    border-radius: 4px;
    border: none;!!!!!
    outline: unset;

}
.posts{
    background: #F2F2F2;
    text-align: center;
}
.posts-title{
    padding-top: 49px;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}
.popular{
    padding-top: 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    flex-wrap: wrap;
}
.popular-item{
    width: 370px;
    margin-bottom: 30px;
}
.item-title{
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background: white;
    padding: 20px 14px;
}
.clients{
    background-image: url(./parallax-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 588px;
    margin-bottom: 49px;
    background-attachment: fixed;
   
}
.container-block{
    width: 880px;
    margin: 0 auto;

}
.clients-block{
    padding-top: 106px;
    height: 482px;
    display: grid;
    grid-template-areas:
    "title title title title"
    "line line line line"
    "logo_1 logo_2 logo_3 logo_4";
    justify-items: center;
    align-items: center;
   
}
.clients-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    grid-area: title;
    align-self: start;
}
.clients-line{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    border: none;
    grid-area: line;
    align-self: start;
}

.clients-img-logo_1{
   grid-area: logo_1; 
   justify-self: start;
   align-self: center;
}
.clients-img-logo_2{
    grid-area: logo_2;
    align-self: center;
    justify-self: center;
}
.clients-img-logo_3{
    grid-area: logo_3;
    align-self: center;
    justify-self: end;
}
.clients-img-logo_4{
    grid-area: logo_4;
    align-self: center;
    justify-self: end;
}
.rated{
    margin-bottom: 48px;
}
.rated-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    margin-bottom: 20px;
}
.rated-img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(171px, 1fr));
    
}
.rated-img-photo{
    width: 100%;
}
.news{
    margin-bottom: 71px;
}
.news-grid{
    display: grid;
    grid-template-areas: 
    "emirate emirate emirate spain "
    "egypt egypt maldives maldives"
    "tenerife tenerife greate greate"
    "ireland king king king";
    gap: 44px 35px;
}
.news-title{
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    padding-bottom: 51px;
}
.news-emirate{
    grid-area:emirate;
    display: flex;
    background-color: #F9F7F7;
}
.news-spain{
    grid-area:spain;
    background-color: #F9F7F7;
}
.news-egypt{
grid-area: egypt;
background-color: #F9F7F7;
}
.news-maldives{
grid-area: maldives;
background-color: #F9F7F7;
}
.news-tenerife{
grid-area: tenerife;
background-color: #F9F7F7;
}
.news-greate{
grid-area: greate;
background-color: #F9F7F7;
}
.news-ireland{
grid-area: ireland;
background-color: #F9F7F7;
}
.news-king{
grid-area: king;
display: flex;
background-color: #F9F7F7;
}
.news-emirate-title, .news-king-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    padding-top: 41px;
}
.news-emirate-text, .news-king-text{
    padding-top: 15px;
    padding-right: 24px;
    padding-right: 24px;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: center;
}
.news-spain-title, .news-ireland-title{
    padding-top: 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
}
.news-egypt-title, .news-maldives-title, .news-tenerife-title, .news-greate-title{
    padding-top: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;

}
.news-egypt-text, .news-maldives-text, 
.news-tenerife-text, .news-greate-text{
    padding-top: 15px;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}
.grid{
    background: #000000;
    padding: 30px;
}
.grid-footer{
    display: grid;
    grid-template-areas: "text img";
    

}
.footer-text{
    font-size: 13px;
    color: #FFFFFF;
    grid-area: text;
    justify-self: start;
    align-self: center;
    
}
.footer-img{
grid-area: img;
justify-self: end;
align-self: start;

}
 .logo-text{
     position: relative;
     bottom: 8px;
}

