*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.nav{
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu{
    display: flex;
    justify-content: center;
    column-gap: 72px;
    list-style-type: none;
}
.menu-link a{
    text-decoration: none ;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #FF0000;

}
.phone{
    width: 100%;
}
.container {
    width: 1170px;
    margin: 0 auto;

    }
    .simple{
        text-align: center;
        margin-top: 48px;
        

    }
    .section-title{
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
        color: #373737;
        margin-bottom: 38px;
    }
    .section-text{
        font-size: 16px;
        line-height: 26px;
        color: #373737;
        padding-bottom: 28px;
    }

    
    .section-button{
        background-color: #FF0000;
        border-radius: 4px;
        padding: 18px 43px;
        border: none;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 38px;
        margin-bottom: 82px;
    }
    .footer-text{
        text-align: right;
        margin-right: 105px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #373737;
        margin-bottom: 20px;
    }