body{
    background: #000;
    overflow: hidden;
    transform: perspective(150px);
    perspective:500px;
    height: 100vh;
}
.credits{
    transform: perspective(150px);
    perspective:500px;
}
.text{
    animation: star-wars-animation 30s linear infinite;
    animation-play-state: running;
    display: block;
}
p{
    max-width:32ch;
    text-align: center;
    color: #f8ce12;
    font-size:70px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1ch;

}
.text_one, .text_two{
    text-align: left;
}
@keyframes star-wars-animation {
    from{
        transform:rotateX(20deg) translateY(100%);
    }

    to{
        transform:rotateX(25deg)  translateY(-100%);
    }
}
