input:focus{
    border: 5px solid green;
    box-shadow: 1px 1px 2px 3px green;}

.xButton{
    font-size: 1rem;
}
#btn{
    display: none;
}
.invalid { border-color: red; }
#error { color: red }
#elsee{
    color: green;
}

