body{
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  
}
.container{
  
  width: 100%;
  min-width: 1060px;
  


  #menu__toggle {
    opacity: 0;
  }
}

.padd{
  padding:0 70px 0 70px;
}

.header-menu{
  @include flexCenter();
  margin: 45px 178px 51px 178px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  justify-content: space-between;
  &_item{
    text-transform: uppercase;
    color: #4E4E4E;
  }
  &_item:hover{
    color: #57A4A4;
    cursor: pointer;
  }
  &_img{
    margin-bottom: 66px;
    width: 100%;
    object-fit: cover;
  }

  }