.footer {
  background: black;
  text-align: center;
  &_title{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    padding-top: 46px;
  }
  & p{
    color: #B9B9B9;
    padding-top: 22px;
    padding-bottom: 37px;
  }
  &_address{
    margin-top: 13px;
    margin-bottom: 70px;
  }
}
