@media(max-width: 768px){
  .container{
    padding: 0 90px 0 90px;
  }
  .posts_items{
    grid-template-columns: 1fr;
  }
  .posts_title{
    justify-content: center;
  }
  .posts p{
    padding-top: 13px;
  }
  .posts_img{
    width: 50%;
  }
}
@media(max-width: 480px) {
  .posts_item {
    display: grid;
    padding-top: 28px;
  }
  .posts p{
    display: none;
  }
  .posts_title{
    font-size: 25px;
    line-height: 30px;
  }
  .posts_item-title{
    padding: 10px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
  }
  .posts_item-title2{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
  }
  .posts_img{
    width: 50%;
  }
  .footer p {
    padding: 22px 120px;
    color: #B9B9B9;
    font-size: 20px;
    line-height: 30px
  }
  .footer_address{
    margin: 22px 260px;
    color: #B9B9B9;
    font-size: 20px;
    line-height: 30px;
  }
  .header-menu{
    display: none;
  }
  .header-menu_img{
    padding-top: 63px;
  }



  .menu__btn {
    display: flex; 
    align-items: center; 
    
    float: right;
    margin-top: 23px;
    
    width: 44px;
    height: 33px;
    cursor: pointer;
    z-index: 1;
    background: #000000;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    
    width: 13px;
    height: 2px;
    padding-left: 30px;
    
    background: white;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
    left: 0;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
    left: 0;
  }

 
  .header-menu {
    

    display: flex;
    flex-direction: column;
    position: fixed;

    visibility: hidden;
    top: 66px;
    width: 300px;
    height: auto;
    margin: -0.7% 0% 0% 63%;
    //margin: -0.7% 0% 0% 198%;
    padding: 40px 0 5px 0;
    list-style: none;
    text-align: left;
    background: #F5F5F5;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    text-transform: uppercase;
  }
  /* элементы меню */
  .header-menu_item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
  }
  .header-menu_item:hover {
    background: #E5E5E5;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .header-menu {
    visibility: visible;
    left: 0;
  }
  #menu__toggle {
    opacity: 0;
  }
}