*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.header {
    background-image: url(./img/Sections_background/section-1\(header\).jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1012px;
}
.menu {
    top: 0px;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);

}
.container {
    width: 1160px;
    margin: 0 auto;
}
.menu-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu-logo {
    display: flex;
    padding-top: 26px;
}
.logo-H {
    background-image: url(./img/header/logo.png);
    background-repeat: no-repeat;
    width: 58px;
    height: 67px;
    text-align: center;
    padding-top: 16px;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFF;
}
.menu-logo-text {
padding-top: 9.5px;
font-size: 32px;
line-height: 48px;
color: #FFFFFF;
}
.menu-logo-text span{
color: #18CFAB;
}
.menu-text {
    display: flex;
    align-self: start;
    padding-top: 50px;

}
.menu-text-nav {
    display: flex;
    

    
}
.menu-text-block{
    padding-right: 21px;
    
}
.menu-text-block-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
.icon-search{
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;

}
.menu-text-block :hover{
    color: #18CFAB;
}
.header-text{
    padding-top: 379px;
    text-align: center;
}
.header-text-wordpress{
    font-weight: bold;
    font-size: 35px;
    /* line-height: 1px; */
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-text-wordpress span{
    color: #18CFAB;
}
.header-text-title{
    font-weight: bold;
    padding-top: 22px;
    font-size: 78px;
    /* line-height: 1px; */
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-text-subtitle{
    font-size: 34px;
    padding-top: 22px;
    /* line-height: 1px; */
    color: #D4D4D4;  
}
.button {
    padding-top: 129px;
    display: flex;
    justify-content: center;
}
.buttons {
    width: 169px;
    height: 63px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    box-shadow: 0 -4px 0 0 #FFFFFF;

}
.button-explore{
    background: #18CFAB;
    margin-right: 26px;
}
.button-purchase{
    background: #00CBF6;
}
.options{
    display: flex;
    justify-content: space-between;
}
.options-click{
    background: #1C2A33;
    width: 482px;
    height: 377px;
    text-align: center;
}
.options-click-icon{
    margin-top: 95px;
}
.options-click-text{
    padding-top: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
}
.options-diamand{
    background: #18CFAB;;
    width: 482px;
    height: 377px; 
    text-align: center;
}
.options-diamand-icon{
    margin-top: 106px;
}
.options-diamand-text{
    padding-top: 58px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.options-lamp{
    background: #1C2A33;
    width: 482px;
    height: 377px; 
    text-align: center;
}
.options-lamp-icon{
    margin-top: 95px;
}
.options-lamp-text{
    padding-top: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
}

.options-laptop{
    background: #18CFAB;;
    width: 482px;
    height: 377px; 
    text-align: center;
}
.options-laptop-icon{
    margin-top: 106px;
}
.options-laptop-text{
    padding-top: 58px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.service{
    margin-bottom: 91px;
}

.service-title{
margin-top: 83px;
font-size: 36px;
line-height: 40px;
text-align: center;
color: #4E4E4E;

}
.service-line{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-line-one{
    width: 75px;
    height: 1px;
    background: #18CFAB;
    border: none;
    outline: none;
     margin-top: 26px; 
    
} 
.service-line-two{
    width: 75px;
    height: 1px;
    background: #18CFAB;
    border: none;
    outline: none;
    margin-top: 5px;
    margin-left: 15px;
}
.service-menu-tabs{
    margin-top: 69px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
    
}
.service-menu-tabs-title{
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    width: 192px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    text-align: center;
    padding-top: 14px ;
}
.service-menu-tabs :hover{
    border: 1.5px solid #18CFAB;
}
.pseudo {
    position: relative;
    border-color: #18CFAB;
    background-color: #18CFAB;
    color: #fff;
}

.pseudo:after {
    content: "";
    display: block;
    position: absolute;
    width: 27px;
    height: 15px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: #18CFAB;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}
.our-services-tabs-content-items {
    display: none;
    margin-bottom: 91px;
}

.tabs-content-items-img {
    display: flex;
    margin: 0 auto;
}

.tabs-content-items-text {
    margin-left: 15px;
    font-size: 13px;
    line-height: 32px;
    color: #777777;
}

.our-services-tabs-content-items.active {
    display: block;
}
.instal{
    background-image: url(./img/Sections_background/section_2.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 476px;
    text-align: center;
}
.instal-title{
    padding-top: 126px;
    font-weight: bold;
    font-size: 40px;
    /* text-align: center; */
    text-transform: uppercase;
    color: #18CFAB;
}
.instal-subtitle{
    padding-top: 12px;
    padding-bottom: 62px;
    font-size: 16px;
    line-height: 40px; 
    /* text-align: center; */
    color: #D8D8D8;
}
.button-purch{
    background: #18CFAB;
}
.work{
    background: #E9EDEF;
}
.work-title{
    padding-top: 95px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;

}
.our-amazing-work-tabs{
    margin-top: 69px;
    margin-bottom: 71px;
    display: flex;
    justify-content: center;
}
.our-amazing-work-tabs-title{
    font-size: 14px;
    color: #717171;
    padding: 22px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
}
.our-amazing-work-tabs-title:hover{
    border: 2px solid #18CFAB
}
.our-amazing-work-tabs-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.amazing-work-tabs-content-items {
    position: relative;
    width: 283px;
}

.hidden {
    display: none;
}

.overlay {
    border-top: 1px solid #18cfab;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E9EDEF;;
    overflow: hidden;
    width: 100%;
    display: flex;
    height: 0;
    transition: .7s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images {
    display: block;
    height: auto;
}

.amazing-work-tabs-content-items:hover .overlay {
    height: 100%;
}
.overlay-links {
    display: flex;
    margin-bottom: 24px;
}

.overlay-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;
    padding: 5px 0;
}
.overlay-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    text-transform: capitalize;
}
.overlay-link-green {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #18CFAB;
    width: 40px;
    height: 40px;
    background-color: #18CFAB;
}
.overlay-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #18CFAB;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.our-amazing-work-button{
    padding-bottom: 99px;
}

.load-more{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px auto 0;
    width: 169px;
    height: 63px;
    background: #18CFAB;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
     
}
.breake-title{
    margin-top: 82px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}
.breake-line{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.breake-line-one{
    width: 75px;
    height: 1px;
    background: #18CFAB;
    border: none;
    outline: none;
     margin-top: 26px; 
    
} 
.breake-line-two{
    width: 75px;
    height: 1px;
    background: #18CFAB;
    border: none;
    outline: none;
    margin-top: 5px;
    margin-left: 15px;
}
.breake-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 70px;
}
.breake-content-date{
    width: 70px;
    height: 68px;
    background: #203E38;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 15px;
    position: absolute;
    right: 0;
}
.breake-content-link{
    position: relative;
    width: 263px;
    /* margin-right: 35px; */

    background-color: #F8FCFE;
    margin-bottom: 46px;
}
.breake-content-link:hover .breake-content-date{
    background: #18CFAB;
}

.breake-content-subtitle{
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    margin-left:20px;
    color: #717171;
}
.breake-content-subtitle:hover{
    color: #18CFAB;
}
.breake-subtitle span{
    left: 20px;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    padding-right: 15px;
}
.breake-subtitle-pseudo::after{
    content:"";
    width: 1px;
    height: 12px;
    background-color: #777777;
    position: absolute;
    top:2px;
    right:6px;

}
.breake-subtitle span{
    position: relative;
}
.people{
    background-image: url(./img/whatPeopleSay/Layer\ 333.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 120px;
    height: 853px;
    text-align: center;
}
.people-title{
    padding-top: 98px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;;
    
    }
    .people-line{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .people-line-one{
        width: 75px;
        height: 1px;
        background: #18CFAB;
        border: none;
        outline: none;
         margin-top: 26px; 
        
    } 
    .people-line-two{
        width: 75px;
        height: 1px;
        background: #18CFAB;
        border: none;
        outline: none;
        margin-top: 5px;
        margin-left: 15px;
    }
    .people-icon{
        margin-top: 66px;
    }
    .slider-description{
        padding-top: 36px;
        font-size: 16px;
        line-height: 30px;
        color: #BBBBBB;
    }
    .slider-user-name{
        padding-top: 37px;
        font-weight: bold;
        font-size: 16px;
        line-height: 27px;
        text-transform: uppercase;
        color: #18CFAB;
    }
    .slider-user-name-subtitle{
        font-size: 13px;
        line-height: 30px;
        color: #BBBBBB;
    }
    .people-content-img{
        margin-top: 50px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px rgba(16, 75, 76, 0.50);
        width: 166px;
        height: 166px;
        
    }
    .row{
        display: flex;
        justify-content: space-between;
        width: 483px;
        height: 70px;
        margin: 44px auto 0;
        
    }
    .row-img{
        border-radius: 50%;
        box-shadow: 0 0 0 5px rgba(16, 75, 76, 0.50);
    }
    .prev{
        width: 31px;
        height: 31px;
        padding-top: 7.5px;
        color: #FFFFFF;
        background: rgba(0, 0, 0, 0.0001);
        border: 1px solid #BBBBBB;
        margin-top: 20px;
    }
    .next{
        width: 31px;
        height: 31px;
        padding-top: 7.5px;
        color: #FFFFFF;
        background: rgba(0, 0, 0, 0.0001);
        border: 1px solid #BBBBBB;
        margin-top: 20px;  
    }
    .prev:hover , .next:hover{
        background: #18CFAB;
    }
.footer{
    height: 121px;
    background: #22353F;
}
.footer-text{
    padding-top: 48px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #AEAEAE;
}
.footer-text span{
    color: #18CFAB ;
}